# Copia a .env y completa los valores

DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/glow-lab
JWT_ACCESS_SECRET=change_me_min_32_chars________________
INTERNAL_AI_TOKEN=change_me_internal_ai_token
ADMIN_API_TOKEN=change_me_admin_token

AI_SERVICE_URL=http://127.0.0.1:8000

# Amazon S3 — imágenes de productos
AWS_REGION=us-east-2
AWS_S3_BUCKET=glowlab-product-images-425629232910
# AWS_S3_PUBLIC_BASE_URL=https://glowlab-product-images-425629232910.s3.us-east-2.amazonaws.com
