.dart_tool/
.packages
build/
.pub-cache/
.pub/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.swp
*.swo
*.log
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
